html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.oll {
    text-align: left;
    margin: auto;
    
    
}
body {
    position: relative;
    max-width: 800px;
    min-height: 100%;
    margin: 0 auto;
    background-color: #F36C4B;
    box-sizing: border-box;
    padding: 36px;
  }

    h2 {
    color: #4E4C4B;
  }
  .url {
    color: #000;
  }
  .pic {
    text-align: center;
  }
  h1 {
    color: #4E4C4B;
    text-align: center;
  }